.animal-details-main-container{
width: 100vw;
height: 100vh;
border: 1px black solid;
margin: 0;
}

.animal-details-first-container{
width: 30vw;
justify-content: space-between;
}


.animal-detail-second-container{
  width: 35vw;
}

.animal-detail-third-container{
  width: 35vw;
  justify-content: space-between;
}
.animal-details-image-container{
  width: 25vw;
  height: 50vh;
  margin: 0 auto;
  object-fit: scale-down;
  text-align: center;
  overflow: hidden;
} 

.animal-details-image{
  height: 50vh;
}

.center-name{
  text-align: center;
  margin: auto;
}

.animial-details-edit-button{
  width: 100%;
  margin-bottom: 0;
  height: 7%;
  font-size: x-large;
  background-color: rgb(255, 251, 0);
  border: none;
  color: rgb(0, 0, 0);
}

.animal-details-first-information{
  width: 25vw;
  height: 30vh;
  border: 1px solid black;
  margin: 0 auto;
  justify-content: space-evenly;
}

hr{
  border: .5px solid rgb(168, 168, 168);
  width: 90%;
}

.animal-detail-second-container-subcontainer-one{
  width: 30vw;
  height: 82.2vh;
  border: 1px solid black;
  margin: 14.3% auto;
}

.animal-detail-second-container-subcontainer-two{
  width: 30vw;
  height: 20vh;
  margin: 0 auto;
  margin: 14.3% auto;
  border: 1px solid black;
}

.animal-detail-second-container-subcontainer-three{
  width: 30vw;
  border: 1px solid black;
  margin: 0 auto;
  height: 51.3vh;
}

.animial-details-delete-button{
  width: 100%;
  margin-bottom: 0;
  height: 7%;
  font-size: x-large;
  background-color: rgb(255, 167, 4);
  border: none;
  color: rgb(0, 0, 0);
}

.no-margin{
  margin: 0;
}

.subtitle-margin {
  margin: 0 4%;
}

.answer-margin {
  margin: 0 8%;
}