.create-animal-container{
width: 100%;
height: 100vh;
}

.created-animal-card-container{
  width: 40vw;
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

.create-animal-input{
  border: none;
  border-bottom: solid rgb(1, 12, 175) 1px;
  font-size: large;
  display: block;
  outline: none;
  margin: 1% auto;
  width: 40vw;
}

.create-animal-title{
  margin: 0;
  text-align: center;
}

.animal-form{
  justify-content: space-between;
  width: 60vw;
}

.create-animal-submit-button{
  display: block;
  text-align: center;
  background-color: rgb(1, 12, 175);
  color: rgb(231, 231, 231);
  width: 100%;
  height: 4%;
  margin: 0;
  font-size: x-large;
  border: none;
}

.preview-title{
  text-align: center;
  margin-bottom: 1%;
  margin-top: 0;
}

.preview-container{
  width: 30vw;
  height: 70vh;
  margin: 25% auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(1, 12, 175);
  box-sizing: border-box;
}

.preview-image-container{
width: 100%;
height: 70%;
overflow: hidden;
object-fit: cover;
}

.preview-image{
justify-content: space-evenly;
width: 100%;
}

.preview-details{
width: 100%;
height: 30%;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.create-animal-submit-button:hover{
  background-color: rgb(1, 9, 134);
}

.preview-data{
  margin: 2% 5%;
}