.edit-animals-container{
  width: 100vw;
}

.edit-animal-form{
  width: 60vw;
  height: 100vh;
  justify-content: space-between;
}

.edit-animal-left-container{
  width: 40vw;
  height: 100vh;
}

.edit-animal-title{
  text-align: center;
  margin: 0;
}

.edit-animal-input{
  border: none;
  border-bottom: solid rgb(211, 190, 3) 1px;
  font-size: medium;
  display: block;
  outline: none;
  margin: .3% auto;
  width: 40vw;
}

.edit-animal-submit-button{
  display: block;
  text-align: center;
  background-color: rgb(211, 190, 3);
  color: rgb(231, 231, 231);
  width: 100%;
  height: 4%;
  margin-bottom: 0;
  font-size: large;
  border: none;
  padding: 0;
}

#border-color{
  border: 2px solid rgb(211, 190, 3);
}

.edit-animal-submit-button:hover{
  background-color: rgb(182, 164, 3);
}

#edit-animal-box-shadow{
-webkit-box-shadow: -1px 3px 9px -4px rgba(0,0,0,0.39);
-moz-box-shadow: -1px 3px 9px -4px rgba(0,0,0,0.39);
box-shadow: -1px 3px 9px -4px rgba(0,0,0,0.39);
}

.edit-subtitle-margin{
  margin: 3% 2%;
}