@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Cormorant+Upright:wght@700&display=swap');

.top-header-div{
  justify-content: space-between;
  color: white;
}

.flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.center{
  align-self: center;
}

.header-title{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 2em;
}

.sign-up, .log-in{
margin: 1em;
color: rgb(255, 255, 255);
text-decoration: none;
}

.logout{
margin: auto 1em;
}

ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.main-nav ul {
background: rgba(5, 1, 230, 0);
margin: 0 auto;
}

.main-nav li {
position: relative;
width: 150px;
list-style: none;
-webkit-transition: .3s;
transition: .3s;
}

.main-nav > ul > li > a, h1 {
text-transform: uppercase;
}

.main-nav a {
display: block;
text-decoration: none;
padding: 5px 15px;
color: rgb(0, 0, 0);
}

.main-nav ul ul {
position: absolute;
left: 0;
top: 100%;
visibility: hidden;
background: #D3D4D6;
}

.main-nav ul ul ul {
left: 100%;
top: 0;
}

.main-nav li:hover li {
background: #D3D4D6;
}

.main-nav li li:hover, .main-nav li li:hover li {
text-decoration: underline;
}

.main-nav li li li:hover {
background: #D3D4D6;
}

.main-nav li:hover > ul {
visibility: visible;
}