.home-container{
  background-image: url(https://i.imgur.com/Y5cjSfph.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 70vh;
  width: 100vw;
  justify-content: space-between;
}

.main-home-container{
justify-content: space-between;
}

.white{
  color: rgb(255, 255, 255);
}
