.home-container{
  background-image: url(https://i.imgur.com/Y5cjSfph.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 70vh;
  width: 100vw;
  justify-content: space-between;
}

.main-home-container{
justify-content: space-between;
}

.white{
  color: rgb(255, 255, 255);
}

.border{
  border: 1px solid black;
}

.adoption-title{
  margin: 3% auto;
  text-transform: uppercase;
}

.home-buttons{
  align-content: flex-end;
}

.home-button-container{
  height: 30vh;
  justify-content: space-between;
}

.adopt-button, .donate-button{
  display: block;
  width: 50%;
  height: 5vh;
  border: none;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  padding: 0;
  font-size: large;
  outline: none;
  cursor: pointer;
}

.adopt-button{
background-color: rgb(206, 0, 0);
}

.donate-button{
background-color: rgb(255, 123, 0);
}

.donation-link{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#anchor-style{
text-decoration: none;
}

.home-signup, .home-login{
  margin: 2% 2%;
  width: 6vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}